@charset "UTF-8";
.fdp_wrap_m {
  width: 100%; }
  .fdp_wrap_m .fdp_area {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto; }

.fdp_wrap_p {
  width: 100%;
  padding: 0 5%; }
  .fdp_wrap_p .fdp_area {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto; }

.fdp_wrap_p {
  width: 100%;
  padding: 0 5%; }
  .fdp_wrap_p .fdp_area_m {
    width: 100%;
    max-width: 980px;
    margin: 0 auto; }

.fdp_wrap_p {
  width: 100%;
  padding: 0 5%; }
  .fdp_wrap_p .fdp_area_s {
    width: 100%;
    max-width: 720px;
    margin: 0 auto; }

.wrap_m_dsgn {
  height: 300px;
  background-color: #6bffa8; }
  .wrap_m_dsgn .area_dsgn {
    height: 300px;
    background: #d9fff1;
    display: flex;
    align-items: center;
    justify-content: center; }
    .wrap_m_dsgn .area_dsgn p {
      font-size: 1.8rem;
      text-align: center; }

.wrap_p_dsgn {
  height: 300px;
  background-color: #91b7ff; }
  .wrap_p_dsgn .area_dsgn {
    height: 300px;
    background: #d8f8ff;
    display: flex;
    align-items: center;
    justify-content: center; }
    .wrap_p_dsgn .area_dsgn p {
      font-size: 1.8rem;
      text-align: center; }

.fdp_flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.wrap {
  background-color: #ececec;
  margin-bottom: 30px;
  padding: 20px 0; }
  .wrap p {
    text-align: center;
    margin-bottom: 20px; }

.flex_2 .flex_con {
  width: 47%;
  height: 260px;
  background-color: #ffffff; }
  @media screen and (max-width: 480px) {
    .flex_2 .flex_con {
      width: 100%; }
      .flex_2 .flex_con:first-child {
        margin-bottom: 20px; } }
  .flex_2 .flex_con p {
    line-height: 260px; }

.flex_3 .flex_con {
  width: 32%;
  height: 260px;
  background-color: #ffffff; }
  @media screen and (max-width: 896px) {
    .flex_3 .flex_con {
      width: 100%;
      margin-bottom: 20px; }
      .flex_3 .flex_con:last-child {
        margin-bottom: 0px; } }
  .flex_3 .flex_con p {
    line-height: 260px; }

.flex_4 .flex_con {
  width: 21%;
  height: 260px;
  background-color: #ffffff; }
  @media screen and (max-width: 896px) {
    .flex_4 .flex_con {
      width: 47%;
      margin-bottom: 20px; }
      .flex_4 .flex_con:last-child {
        margin-bottom: 0px; } }
  @media screen and (max-width: 480px) {
    .flex_4 .flex_con {
      width: 100%;
      margin-bottom: 20px; }
      .flex_4 .flex_con:last-child {
        margin-bottom: 0px; } }
  .flex_4 .flex_con p {
    line-height: 260px; }

/****************************************
Break Point Settings
設置日---2020.04.01
****************************************/
.box {
  width: 100%;
  height: 200px;
  background: #f2f2f2;
  display: flex;
  padding: 0 5%;
  margin: 30px 0;
  justify-content: center;
  align-items: center; }
  .box p {
    text-align: center;
    line-height: 160px;
    font-size: 16px; }

/* Visivility */
@media screen and (min-width: 896px) {
  .only_max {
    display: none; } }

@media screen and (min-width: 1280px) {
  .only_max {
    display: block; } }

@media screen and (max-width: 895px) {
  .only_max {
    display: none; } }

@media screen and (min-width: 1280px) {
  .only_pc {
    display: none; } }

@media screen and (max-width: 895px) {
  .only_pc {
    display: none; } }

@media screen and (min-width: 896px) {
  .only_tb {
    display: none; } }

@media screen and (max-width: 480px) {
  .only_tb {
    display: none; } }

@media screen and (min-width: 896px) {
  .only_sp {
    display: none; } }

@media screen and (max-width: 895px) {
  .only_sp {
    display: none; } }

@media screen and (max-width: 480px) {
  .only_sp {
    display: block; } }

.only_max_dsgn {
  width: 60%;
  height: 160px;
  background-color: #ffbfbf; }

.only_pc_dsgn {
  width: 60%;
  height: 160px;
  background-color: #fff8bf; }

.only_tb_dsgn {
  width: 60%;
  height: 160px;
  background-color: #bfffda; }

.only_sp_dsgn {
  width: 60%;
  height: 160px;
  background-color: #bfeeff; }

/* More Visibility */
@media screen and (min-width: 1280px) {
  .more_max {
    display: block; } }

@media screen and (min-width: 1280px) {
  .more_pc {
    display: none; } }

@media screen and (min-width: 896px) {
  .more_tb {
    display: none; } }

@media screen and (min-width: 896px) {
  .more_sp {
    display: none; } }

@media screen and (max-width: 895px) {
  .more_sp {
    display: none; } }

@media screen and (max-width: 480px) {
  .more_sp {
    display: block; } }

.more_max_dsgn {
  width: 25%;
  height: 160px;
  background-color: #ffbfbf; }

.more_pc_dsgn {
  width: 25%;
  height: 160px;
  background-color: #fff8bf; }

.more_tb_dsgn {
  width: 25%;
  height: 160px;
  background-color: #bfffda; }

.more_sp_dsgn {
  width: 25%;
  height: 160px;
  background-color: #bfeeff; }

/* Reduced Visibility */
@media screen and (min-width: 896px) {
  .less_max {
    display: none; } }

@media screen and (min-width: 1280px) {
  .less_max {
    display: block; } }

@media screen and (max-width: 895px) {
  .less_max {
    display: none; } }

@media screen and (max-width: 895px) {
  .less_pc {
    display: none; } }

@media screen and (max-width: 480px) {
  .less_tb {
    display: none; } }

@media screen and (max-width: 480px) {
  .less_sp {
    display: block; } }

.less_max_dsgn {
  width: 25%;
  height: 160px;
  background-color: #ffbfbf; }

.less_pc_dsgn {
  width: 25%;
  height: 160px;
  background-color: #fff8bf; }

.less_tb_dsgn {
  width: 25%;
  height: 160px;
  background-color: #bfffda; }

.less_sp_dsgn {
  width: 25%;
  height: 160px;
  background-color: #bfeeff; }

/****************************************
Fonts Size Settings 2020.04.01
****************************************/
html {
  /* 適宜変更 */
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  background-color: #ffffff;
  line-height: 1.5;
  font-size: 62.5%;
  color: #333333;
  font-weight: 300;
  text-align: justify;
  word-wrap: break-word;
  font-feature-settings: "palt";
  letter-spacing: 0.05em;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; }

.fdp_h1 {
  font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429)); }

.fdp_h2 {
  font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143)); }

.fdp_h3 {
  font-size: calc(1.8rem + ((1vw - 0.64rem) * 0.7143)); }

.fdp_h4 {
  font-size: calc(1.6rem + ((1vw - 0.64rem) * 0.7143)); }

.fdp_txt {
  font-size: 1.6rem;
  line-height: 1.8; }

@media screen and (min-width: 1280px) {
  .fdp_h1 {
    font-size: 3.6rem; }
  .fdp_h2 {
    font-size: 2.4rem; }
  .fdp_h3 {
    font-size: 2rem; }
  .fdp_h4 {
    font-size: 1.8rem; } }

@media screen and (max-width: 480px) {
  .fdp_h1 {
    font-size: 2.4rem; }
  .fdp_h2 {
    font-size: 2rem; }
  .fdp_h3 {
    font-size: 1.8rem; }
  .fdp_h4 {
    font-size: 1.6rem; } }

.fontSize {
  margin: 100px auto;
  max-width: 1200px;
  padding: 0 5%; }
  .fontSize .title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #cb0000;
    background-color: #eeeeee;
    padding: 2rem;
    margin-bottom: 40px; }

.tith1 {
  line-height: 1.3;
  margin-bottom: 30px; }

.tith2 {
  line-height: 1.3;
  margin-bottom: 30px; }

.tith3 {
  line-height: 1.3;
  margin-bottom: 30px; }

.txt {
  line-height: 1.5; }

.center {
  text-align: center; }
