@charset "UTF-8";
html {
  overflow-x: hidden !important; }

.black {
  color: #272121; }

.lighten {
  color: #3a3a73; }

.darken {
  color: #07070d; }

.en {
  font-family: 'EB Garamond', serif;
  font-weight: 400; }

.min {
  font-family: 'Noto Serif JP', serif; }

/*------Head------*/
.head .logo {
  width: 280px;
  position: absolute;
  z-index: 99;
  top: 40px;
  left: 3%; }
  @media screen and (max-width: 1080px) {
    .head .logo {
      width: 260px;
      left: 3%;
      top: 30px; } }
  @media screen and (max-width: 760px) {
    .head .logo {
      width: 220px;
      left: 30px; } }
  @media screen and (max-width: 480px) {
    .head .logo {
      width: 220px;
      top: 20px;
      left: 20px; } }
  .head .logo a {
    display: block; }

#nav-toggle {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 100;
  background-color: #00BFFF;
  transition: 0.3s ease-in-out; }
  @media screen and (max-width: 770px) {
    #nav-toggle {
      top: 20px;
      right: 20px; } }
  @media screen and (max-width: 640px) {
    #nav-toggle {
      width: 40px;
      height: 40px; } }
  #nav-toggle:hover {
    background-color: #EE8A1E; }
  #nav-toggle > div {
    position: relative;
    width: 20px;
    left: 15px;
    top: 17px; }
    @media screen and (max-width: 640px) {
      #nav-toggle > div {
        left: 10px;
        top: 12px; } }
  #nav-toggle span {
    width: 100%;
    height: 1px;
    left: 0;
    display: block;
    background: #ffffff;
    position: absolute;
    transition: transform .3s ease-in-out, top .3s ease, width .3s ease-in-out; }
    #nav-toggle span:nth-child(1) {
      top: 0; }
    #nav-toggle span:nth-child(2) {
      top: 7px;
      width: 16px; }
    #nav-toggle span:nth-child(3) {
      top: 14px; }
  #nav-toggle:hover span:nth-child(2) {
    width: 20px; }

.open {
  overflow: hidden; }
  .open #nav-toggle span {
    background: #ffffff; }
    .open #nav-toggle span:nth-child(1) {
      top: 7px;
      transform: rotate(45deg); }
    .open #nav-toggle span:nth-child(2) {
      width: 0; }
    .open #nav-toggle span:nth-child(3) {
      top: 7px;
      transform: rotate(-45deg); }
  .open #gloval-nav {
    visibility: visible;
    opacity: 1;
    transform: translateX(0); }
  .open #gloval-nav li {
    opacity: 1;
    transform: translateX(0);
    transition: transform 1s ease, opacity .9s ease; }

/*------Gnav------*/
#gloval-nav {
  background: rgba(32, 32, 64, 0.9);
  position: fixed;
  width: 300px;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(100px);
  transition: transform .6s ease,opacity .6s ease, visibility .6s ease; }
  #gloval-nav nav {
    width: 100%; }
    #gloval-nav nav ul {
      list-style: none; }
      #gloval-nav nav ul li {
        opacity: 0;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        transform: translateX(200px);
        transition: transform .6s ease, opacity .2s ease; }
        #gloval-nav nav ul li:nth-child(1) {
          transition-delay: .15s; }
        #gloval-nav nav ul li:nth-child(2) {
          transition-delay: .15s; }
        #gloval-nav nav ul li:nth-child(3) {
          transition-delay: .3s; }
        #gloval-nav nav ul li:nth-child(4) {
          transition-delay: .45s; }
        #gloval-nav nav ul li:nth-child(5) {
          transition-delay: .6s; }
        #gloval-nav nav ul li a {
          position: relative;
          display: block;
          color: #ffffff;
          text-decoration: none;
          text-align: center;
          margin: 40px 0;
          transition: .6s ease;
          font-size: 1.9rem;
          font-family: 'EB Garamond', serif;
          font-weight: 400;
          letter-spacing: 2px;
          padding: 5px 0; }
          #gloval-nav nav ul li a:hover {
            color: #00BFFF; }
            #gloval-nav nav ul li a:hover::after {
              right: 10px; }

@-webkit-keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadedown {
  0% {
    opacity: 0;
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadedown {
  0% {
    opacity: 0;
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes width {
  0% {
    opacity: 0;
    width: 0%; }
  100% {
    opacity: 1;
    width: 45%; } }

@keyframes width {
  0% {
    opacity: 0;
    width: 0%; }
  100% {
    opacity: 1;
    width: 45%; } }

.top_fv_movie {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #000000;
  overflow: hidden;
  /*
	.video{
		width: 100%;
		height: 100%;
		video{
			width: 100%;
			height: 100%;
			opacity: 0.3;
		}
	}
*/ }
  @media screen and (max-width: 600px) {
    .top_fv_movie {
      background: url("../images/top_view_sp.png") no-repeat;
      background-position: center center;
      background-size: cover; } }
  .top_fv_movie #video {
    /*
		background: #000000;
		background: url('../images/top_view.mp4') no-repeat; 
		background-attachment: fixed;
		background-position: center center;
		background-size: cover;
*/
    left: 0;
    min-height: 100%;
    min-height: 100vh;
    min-width: 100%;
    min-width: 100vw;
    position: absolute;
    top: 0;
    z-index: 0;
    opacity: 0.3; }
    @media screen and (max-width: 600px) {
      .top_fv_movie #video {
        display: none; } }
    .top_fv_movie #video::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAOklEQVQYV2NkYGD4z8Br5Mfw+dxmBgYGY0YGXiNfBs6zxgyvGBsYGBgYGEEEFIBVggSMGRgYzsJUAgCn5QtZ3+tEogAAAABJRU5ErkJggg==) repeat;
      background-size: 4px 4px;
      z-index: 2; }
      @media screen and (max-width: 770px) {
        .top_fv_movie #video::before {
          display: none; } }
  .top_fv_movie .top_tit {
    position: absolute !important;
    z-index: 3;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: block;
    /*
		.top_tit_a{
			width: 100%;
			margin: 0 auto;
			animation: fadeup 1200ms ease-out 600ms 1 normal both;
		}
*/ }
    .top_fv_movie .top_tit .text-js {
      opacity: 0;
      font-size: 10.6rem;
      text-align: center;
      color: #ffffff;
      letter-spacing: 0.1rem;
      font-family: 'Teko', sans-serif;
      font-weight: 300;
      line-height: 1; }
      @media screen and (max-width: 680px) {
        .top_fv_movie .top_tit .text-js {
          font-size: 8.6rem; } }
      @media screen and (max-width: 500px) {
        .top_fv_movie .top_tit .text-js {
          font-size: 6.0rem; } }
    .top_fv_movie .top_tit .titline {
      background: #ffffff;
      height: 1px;
      margin: 10px auto 40px auto;
      -webkit-animation: width 1000ms ease-out 1400ms 1 normal both;
              animation: width 1000ms ease-out 1400ms 1 normal both; }
    .top_fv_movie .top_tit .top_tit_b {
      width: 30%;
      margin: 0 auto;
      -webkit-animation: fadedown 1200ms ease-out 2100ms 1 normal both;
              animation: fadedown 1200ms ease-out 2100ms 1 normal both; }
      @media screen and (max-width: 940px) {
        .top_fv_movie .top_tit .top_tit_b {
          width: 50%; } }
      @media screen and (max-width: 540px) {
        .top_fv_movie .top_tit .top_tit_b {
          width: 60%; } }
@-webkit-keyframes scroll {
  0% {
    height: 0; }
  50% {
    height: 140px;
    margin-top: 0; }
  100% {
    margin-top: 140px;
    height: 140px; } }
@keyframes scroll {
  0% {
    height: 0; }
  50% {
    height: 140px;
    margin-top: 0; }
  100% {
    margin-top: 140px;
    height: 140px; } }

.scroll {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 0;
  height: 140px;
  overflow: hidden;
  z-index: 3; }
  .scroll p {
    font-size: 1.2rem;
    color: #ffffff;
    letter-spacing: 0.2rem;
    margin-bottom: 10px; }
  .scroll:after {
    content: "";
    display: block;
    width: 1px;
    border-left: 1px #ffffff solid;
    -webkit-animation: scroll 2s ease 0s infinite normal;
            animation: scroll 2s ease 0s infinite normal;
    margin: 0 auto 0 auto; }

.news {
  width: 80%;
  max-width: 900px;
  height: 60px;
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background: #141414;
  display: flex;
  justify-content: space-between; }
  .news .news_txt {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 5%; }
    .news .news_txt h3 {
      color: #ffffff;
      margin-right: 30px; }
    .news .news_txt a {
      color: #ffffff;
      font-size: 14px;
      padding: 15px 0;
      transition: 300ms; }
      .news .news_txt a:hover {
        opacity: 0.6; }
  .news .more {
    position: relative;
    display: block;
    overflow: hidden;
    width: 130px;
    height: 60px;
    background-color: #202040; }
    .news .more::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #00BFFF;
      transition: 0.3s cubic-bezier(1, 0.18, 0.5, 0.94); }
    .news .more::before {
      left: -100%; }
    .news .more span {
      position: absolute;
      z-index: 1;
      color: #ffffff;
      font-size: 1.8rem;
      letter-spacing: 0.1rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .news .more:hover::before {
      left: 0%; }

.back_cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.annotate p {
  text-align: center;
  color: #EE8A1E;
  position: relative;
  letter-spacing: 0.2rem; }
  .annotate p::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30px;
    height: 1px;
    background-color: #C3C3C3; }

.sub_wrap {
  padding: 140px 0 160px 0;
  background-image: url(../images/sub_back.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 80%; }
  .sub_wrap .sub_tit {
    padding: 50px 5%; }
    .sub_wrap .sub_tit h3 {
      font-weight: 400;
      line-height: 1.8; }
    .sub_wrap .sub_tit p {
      margin-top: 50px;
      line-height: 2.5; }
  @media screen and (max-width: 740px) {
    .sub_wrap {
      padding: 100px 0 20px 0;
      margin-bottom: 80px; }
      .sub_wrap .sub_tit p {
        margin-top: 40px;
        line-height: 2;
        text-align: left; } }
  @media screen and (max-width: 480px) {
    .sub_wrap {
      padding: 80px 0;
      margin-bottom: 20px; }
      .sub_wrap .sub_tit h3 {
        font-size: 1.8rem; }
      .sub_wrap .sub_tit p {
        font-size: 1.4rem;
        margin-top: 30px;
        line-height: 1.8; } }
.service_wrap {
  padding: 0 20px;
  padding-bottom: 120px; }
  @media screen and (max-width: 770px) {
    .service_wrap {
      padding: 0 0 80px 0; } }
  .service_wrap .service_con {
    position: relative;
    margin: 40px 0;
    padding: 110px 0 80px 0; }
    @media screen and (max-width: 770px) {
      .service_wrap .service_con {
        padding: 80px 0 120px 0; } }
    .service_wrap .service_con::before {
      content: '';
      background: #e3e3e3;
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%; }
    .service_wrap .service_con .service_a {
      position: relative;
      padding: 240px 0 0 65%;
      margin-bottom: 180px; }
      .service_wrap .service_con .service_a::before {
        content: '';
        background: #202040;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: -110px;
        transform: translate(-50%, 0); }
        @media screen and (max-width: 770px) {
          .service_wrap .service_con .service_a::before {
            top: -80px; } }
      .service_wrap .service_con .service_a .service_a_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 60%; }
      .service_wrap .service_con .service_a h2 {
        position: absolute;
        top: 70px;
        right: 0;
        font-size: 10rem;
        color: #00BFFF; }
      .service_wrap .service_con .service_a h3 {
        color: #202040;
        margin-bottom: 30px; }
        .service_wrap .service_con .service_a h3::before {
          content: '';
          display: block;
          position: absolute;
          width: 100px;
          height: 40px;
          right: 0;
          background-image: url(../images/shopify.png);
          background-size: contain;
          background-repeat: no-repeat; }
      .service_wrap .service_con .service_a p {
        font-size: 1.4rem; }
      .service_wrap .service_con .service_a a {
        position: absolute;
        top: 380px;
        left: 5%; }
      @media screen and (max-width: 770px) {
        .service_wrap .service_con .service_a {
          padding: 0; }
          .service_wrap .service_con .service_a .service_a_img {
            position: relative;
            width: 95%;
            margin-bottom: 30px; }
          .service_wrap .service_con .service_a h2 {
            position: relative;
            top: 0;
            right: auto;
            font-size: 5rem;
            left: 5%;
            line-height: 1;
            margin-bottom: 15px;
            width: 95%; }
          .service_wrap .service_con .service_a h3 {
            padding: 0 15% 0 5%; }
            .service_wrap .service_con .service_a h3::before {
              width: 80px;
              height: 40px;
              right: 15%; }
          .service_wrap .service_con .service_a p {
            padding: 0 15% 0 5%; }
            .service_wrap .service_con .service_a p .sp_br {
              display: none; }
          .service_wrap .service_con .service_a a {
            position: relative;
            top: 40px;
            width: 190px;
            height: 50px; } }
    .service_wrap .service_con .service_b {
      position: relative;
      padding: 220px 65% 0 70px;
      margin-bottom: 180px; }
      .service_wrap .service_con .service_b .service_a_img {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%; }
      .service_wrap .service_con .service_b h2 {
        position: absolute;
        top: 70px;
        left: 0;
        font-size: 8rem;
        color: #00BFFF; }
      .service_wrap .service_con .service_b h3 {
        color: #202040;
        margin-bottom: 30px; }
      .service_wrap .service_con .service_b p {
        font-size: 1.4rem; }
      .service_wrap .service_con .service_b a {
        position: absolute;
        top: 380px;
        right: 5%; }
      @media screen and (max-width: 770px) {
        .service_wrap .service_con .service_b {
          padding: 0; }
          .service_wrap .service_con .service_b .service_a_img {
            position: relative;
            padding-left: 5%;
            width: 100%;
            margin-bottom: 30px; }
          .service_wrap .service_con .service_b h2 {
            position: relative;
            top: 0;
            right: auto;
            font-size: 5rem;
            left: 15%;
            line-height: 1;
            margin-bottom: 15px;
            width: 85%; }
          .service_wrap .service_con .service_b h3 {
            padding-left: 15%; }
          .service_wrap .service_con .service_b p {
            padding-left: 15%; }
            .service_wrap .service_con .service_b p .sp_br {
              display: none; }
          .service_wrap .service_con .service_b a {
            position: relative;
            top: 40px;
            width: 190px;
            height: 50px;
            left: 15%; } }
    .service_wrap .service_con .service_c {
      position: relative;
      padding: 260px 0 0 65%;
      margin-bottom: 0px; }
      .service_wrap .service_con .service_c::before {
        content: '';
        background: #202040;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        bottom: -90px;
        transform: translate(-50%, 0); }
        @media screen and (max-width: 770px) {
          .service_wrap .service_con .service_c::before {
            bottom: -130px; } }
      .service_wrap .service_con .service_c .service_a_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 60%; }
      .service_wrap .service_con .service_c h2 {
        text-align: right;
        position: absolute;
        top: 80px;
        right: 0;
        font-size: 8.5rem;
        line-height: 1;
        color: #00BFFF; }
      .service_wrap .service_con .service_c h3 {
        color: #202040;
        margin-bottom: 30px; }
      .service_wrap .service_con .service_c p {
        font-size: 1.4rem; }
      .service_wrap .service_con .service_c a {
        position: absolute;
        top: 380px;
        left: 5%; }
      @media screen and (max-width: 770px) {
        .service_wrap .service_con .service_c {
          padding: 0; }
          .service_wrap .service_con .service_c .service_a_img {
            position: relative;
            width: 95%;
            margin-bottom: 30px; }
          .service_wrap .service_con .service_c h2 {
            position: relative;
            top: 0;
            right: auto;
            font-size: 5rem;
            left: 5%;
            line-height: 1;
            margin-bottom: 15px;
            text-align: left;
            width: 95%; }
          .service_wrap .service_con .service_c h3 {
            padding: 0 15% 0 5%; }
            .service_wrap .service_con .service_c h3::before {
              width: 80px;
              height: 40px;
              right: 15%; }
          .service_wrap .service_con .service_c p {
            padding: 0 15% 0 5%; }
            .service_wrap .service_con .service_c p .sp_br {
              display: none; }
          .service_wrap .service_con .service_c a {
            position: relative;
            top: 40px;
            width: 190px;
            height: 50px; } }
.btn {
  position: relative;
  display: block;
  overflow: hidden;
  width: 220px;
  height: 100px;
  background-color: #00BFFF; }
  .btn::before, .btn::after {
    content: '';
    position: absolute;
    width: 220px;
    height: 100px;
    background-color: rgba(32, 32, 64, 0.7);
    transition: 0.4s cubic-bezier(1, 0.18, 0.5, 0.94); }
    @media screen and (max-width: 770px) {
      .btn::before, .btn::after {
        width: 190px;
        height: 50px; } }
  .btn::before {
    left: -100%; }
  .btn::after {
    right: -100%; }
  .btn span {
    position: absolute;
    z-index: 1;
    color: #ffffff;
    transition: 0.4s ease;
    font-size: 1.8rem;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
  .btn:hover::before {
    left: 0%; }
  .btn:hover::after {
    right: 0%; }

.about_wrap {
  display: block;
  padding: 120px 20px 50px 20px;
  position: relative; }
  @media screen and (max-width: 770px) {
    .about_wrap {
      padding: 80px 20px 80px 20px; } }
  .about_wrap .bg_fx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    overflow: hidden; }
    @media screen and (max-width: 770px) {
      .about_wrap .bg_fx {
        height: 100%; } }
    .about_wrap .bg_fx .inner {
      background: url(../images/bg_program.jpg) no-repeat center bottom;
      background-size: cover;
      background-attachment: fixed;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      @media screen and (max-width: 770px) {
        .about_wrap .bg_fx .inner {
          background-attachment: scroll; } }
  .about_wrap .fdp_area {
    position: relative; }
    .about_wrap .fdp_area .annotate p {
      color: #202040; }
    .about_wrap .fdp_area .annotate h5 {
      color: #1E120D;
      text-align: center;
      letter-spacing: 0.2rem;
      margin: 40px 0 120px 0;
      font-weight: 300; }
      @media screen and (max-width: 770px) {
        .about_wrap .fdp_area .annotate h5 {
          margin: 40px 0 80px 0; } }
      @media screen and (max-width: 540px) {
        .about_wrap .fdp_area .annotate h5 {
          margin: 40px 0 60px 0; } }
    .about_wrap .fdp_area .about_links {
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px; }
      @media screen and (max-width: 770px) {
        .about_wrap .fdp_area .about_links {
          display: block;
          margin-bottom: 0px; } }
      .about_wrap .fdp_area .about_links .item {
        position: relative;
        width: 48%;
        background: #ffffff; }
        @media screen and (max-width: 770px) {
          .about_wrap .fdp_area .about_links .item {
            width: 100%; }
            .about_wrap .fdp_area .about_links .item:first-child {
              margin-bottom: 40px; } }
    @media screen and (max-width: 770px) and (max-width: 540px) {
      .about_wrap .fdp_area .about_links .item:first-child {
        margin-bottom: 30px; } }
        .about_wrap .fdp_area .about_links .item a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 60px 60px 160px 60px;
          transition: box-shadow .3s; }
          @media screen and (max-width: 960px) {
            .about_wrap .fdp_area .about_links .item a {
              padding: 40px 40px 140px 40px; } }
          @media screen and (max-width: 540px) {
            .about_wrap .fdp_area .about_links .item a {
              padding: 40px 40px 140px 30px; } }
          .about_wrap .fdp_area .about_links .item a:hover {
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); }
          .about_wrap .fdp_area .about_links .item a h3 {
            font-size: 2.8rem;
            color: #EE8A1E;
            margin-bottom: 20px; }
          .about_wrap .fdp_area .about_links .item a .item_txt {
            position: relative;
            border-left: 1px solid #AAAAAA;
            padding: 30px; }
            @media screen and (max-width: 960px) {
              .about_wrap .fdp_area .about_links .item a .item_txt {
                padding: 30px 20px 30px 30px; } }
            @media screen and (max-width: 540px) {
              .about_wrap .fdp_area .about_links .item a .item_txt {
                padding: 30px 0px 30px 25px; } }
            .about_wrap .fdp_area .about_links .item a .item_txt::before {
              content: '';
              background: #202040;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              position: absolute;
              left: 0;
              top: 0;
              transform: translate(-50%, 0); }
            .about_wrap .fdp_area .about_links .item a .item_txt h4 {
              color: #202040; }
            .about_wrap .fdp_area .about_links .item a .item_txt p {
              margin-top: 20px; }
          .about_wrap .fdp_area .about_links .item a .btn {
            position: absolute;
            bottom: 65px;
            left: 50%;
            transform: translate(-50%, 0);
            height: 60px; }
            @media screen and (max-width: 770px) {
              .about_wrap .fdp_area .about_links .item a .btn {
                bottom: 50px;
                width: 190px; } }
            .about_wrap .fdp_area .about_links .item a .btn::before, .about_wrap .fdp_area .about_links .item a .btn::after {
              height: 60px; }
          .about_wrap .fdp_area .about_links .item a:hover .btn::before {
            left: 0%; }
          .about_wrap .fdp_area .about_links .item a:hover .btn::after {
            right: 0%; }

.contact_wrap {
  display: block;
  padding: 100px 20px 100px 20px;
  position: relative; }
  @media screen and (max-width: 640px) {
    .contact_wrap {
      padding: 80px 25px 80px 25px; } }
  .contact_wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAMklEQVQYV2NkYGD4z8Br5Mfw+dxmBgYGY0YGXiNfKIcBBBjBJASAVYIEjBkYGM7CVAIAsNEMxHXyN+YAAAAASUVORK5CYII=) repeat;
    background-size: 4px 4px;
    z-index: 2; }
    @media screen and (max-width: 770px) {
      .contact_wrap::before {
        display: none; } }
  .contact_wrap .bg_fx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    overflow: hidden; }
    .contact_wrap .bg_fx .inner {
      background: url(../images/bg_program2.jpg) no-repeat center bottom;
      background-size: cover;
      background-attachment: fixed;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      @media screen and (max-width: 770px) {
        .contact_wrap .bg_fx .inner {
          background-attachment: scroll; } }
  .contact_wrap .fdp_area {
    position: relative;
    z-index: 3; }
    .contact_wrap .fdp_area .annotate h5 {
      color: #ffffff;
      text-align: center;
      margin: 40px 0 30px 0;
      font-weight: 300; }
    .contact_wrap .fdp_area .btn {
      margin: 0 auto;
      height: 60px; }
      @media screen and (max-width: 770px) {
        .contact_wrap .fdp_area .btn {
          width: 190px; } }
      .contact_wrap .fdp_area .btn::before, .contact_wrap .fdp_area .btn::after {
        height: 60px; }

footer {
  width: 100%;
  background: #202040;
  padding: 60px 5%;
  position: relative; }
  @media screen and (max-width: 580px) {
    footer {
      padding: 60px 5% 100px 5%; } }
  footer .f_logo {
    display: block;
    width: 240px; }
    @media screen and (max-width: 580px) {
      footer .f_logo {
        margin: 0 auto;
        width: 200px; } }
  footer .f_menu {
    width: 100%;
    padding: 40px 0 0 0;
    display: flex; }
    @media screen and (max-width: 580px) {
      footer .f_menu {
        justify-content: center; } }
    footer .f_menu .f_menu_con {
      margin-right: 5%; }
      footer .f_menu .f_menu_con a {
        color: #ffffff;
        font-size: 1.6rem;
        display: block;
        transition: 300ms; }
        footer .f_menu .f_menu_con a:hover {
          color: #00BFFF; }
  footer #page-top {
    position: absolute;
    z-index: 99;
    right: 5%;
    bottom: 100px; }
    footer #page-top a {
      display: block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      padding: 10px;
      transition: 300ms; }
      footer #page-top a:hover {
        background: #EE8A1E; }

.credit {
  width: 100%;
  background: #18182f;
  padding: 15px 2%; }
  .credit p {
    text-align: right;
    font-size: 1.2rem;
    color: #ffffff; }

/*------ margin-bottom: 100〜60px; ------*/
.margin-b_100-60 {
  margin-bottom: 100px; }
  @media screen and (max-width: 760px) {
    .margin-b_100-60 {
      margin-bottom: 60px; } }
/*------ margin-bottom: 120〜80px; ------*/
.margin-b_120-80 {
  margin-bottom: 120px; }
  @media screen and (max-width: 760px) {
    .margin-b_120-80 {
      margin-bottom: 80px; } }
/*------ margin-bottom: 40〜30px; ------*/
.margin-b_40-30 {
  margin-bottom: 40px; }
  @media screen and (max-width: 760px) {
    .margin-b_40-30 {
      margin-bottom: 30px; } }
/*------ lower page ------*/
@-webkit-keyframes fadedown2 {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
@keyframes fadedown2 {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes l_width {
  0% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    width: 120px; } }

@keyframes l_width {
  0% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    width: 120px; } }

.lower_top {
  position: relative; }
  .lower_top .back_cover {
    width: 100%;
    height: 400px;
    background-image: url(../images/bg_img1.png); }
    @media screen and (max-width: 640px) {
      .lower_top .back_cover {
        height: 360px; } }
    .lower_top .back_cover::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 400px;
      background-size: 2px 2px;
      background-position: 0 0, 1px 1px;
      background-image: linear-gradient(45deg, #252A44 25%, #252A44 25%, transparent 25%, transparent 75%, #252A44 75%, #252A44 75%), linear-gradient(-135deg, #252A44 25%, #252A44 25%, transparent 25%, transparent 75%, #252A44 75%, #252A44 75%); }
      @media screen and (max-width: 640px) {
        .lower_top .back_cover::before {
          height: 360px; } }
  .lower_top .lt_tit {
    position: absolute !important;
    z-index: 3;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: block; }
    .lower_top .lt_tit .text-js {
      opacity: 0;
      font-size: 7rem;
      text-align: center;
      color: #ffffff;
      letter-spacing: 0.3rem;
      font-family: 'Teko', sans-serif;
      font-weight: 100;
      line-height: 1; }
      @media screen and (max-width: 640px) {
        .lower_top .lt_tit .text-js {
          font-size: 6rem; } }
      @media screen and (max-width: 480px) {
        .lower_top .lt_tit .text-js {
          font-size: 5.6rem; } }
    .lower_top .lt_tit .titline {
      background: #ffffff;
      height: 1px;
      margin: 10px auto 20px auto;
      -webkit-animation: l_width 1000ms ease-out 1400ms 1 normal both;
              animation: l_width 1000ms ease-out 1400ms 1 normal both; }
      @media screen and (max-width: 640px) {
        .lower_top .lt_tit .titline {
          margin: 10px auto 15px auto; } }
    .lower_top .lt_tit .lt_tit_b {
      color: #ffffff;
      text-align: center;
      font-size: 2rem;
      letter-spacing: 0.3rem;
      -webkit-animation: fadedown2 800ms ease-out 2000ms 1 normal both;
              animation: fadedown2 800ms ease-out 2000ms 1 normal both; }
      @media screen and (max-width: 640px) {
        .lower_top .lt_tit .lt_tit_b {
          font-size: 1.8rem;
          letter-spacing: 0.2rem; } }
.under_wrap {
  position: relative;
  margin: -50px auto 0 auto; }
  .under_wrap::before, .under_wrap::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 50px;
    left: 50%; }
  .under_wrap::before {
    background: #fff;
    top: -50px; }
  .under_wrap::after {
    background: #000;
    top: 0; }
  .under_wrap .under_con {
    position: relative;
    max-width: 1160px;
    padding: 120px 0 200px 0; }
    .under_wrap .under_con::before {
      content: '';
      background: #fff;
      width: 95%;
      max-width: 1160px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0); }
  @media screen and (max-width: 480px) {
    .under_wrap {
      margin: -35px auto 0 auto; }
      .under_wrap::before, .under_wrap::after {
        height: 35px; }
      .under_wrap::before {
        top: -35px; }
      .under_wrap .under_con {
        padding: 120px 0 120px 0; } }
/*------ about us ------*/
.ceo_con {
  display: flex;
  margin-top: 100px; }
  .ceo_con .ceo_img {
    width: 40%;
    margin-right: 5%; }
  .ceo_con .ceo_txt {
    width: 55%; }
    .ceo_con .ceo_txt h3 {
      color: #202040;
      font-weight: 600;
      border-bottom: 2px solid #00BFFF;
      padding-bottom: 5px; }
      .ceo_con .ceo_txt h3 .sp_br {
        display: none; }
    .ceo_con .ceo_txt h4 {
      color: #202040;
      font-size: 1.6rem;
      font-weight: 300;
      margin: 15px 0 40px 0; }
    .ceo_con .ceo_txt .pc_txt {
      font-size: 1.4rem; }
  @media screen and (max-width: 780px) {
    .ceo_con {
      margin-top: 80px;
      flex-direction: row-reverse;
      align-items: center; }
      .ceo_con .ceo_img {
        width: 25%;
        margin-right: 0;
        margin-left: 5%; }
      .ceo_con .ceo_txt {
        width: 70%; }
      .ceo_con .pc_txt {
        display: none; } }
  @media screen and (max-width: 640px) {
    .ceo_con {
      margin-top: 75px; }
      .ceo_con .ceo_img {
        width: 30%;
        margin-left: 5%; }
      .ceo_con .ceo_txt {
        width: 65%; } }
  @media screen and (max-width: 530px) {
    .ceo_con {
      align-items: flex-start; }
      .ceo_con .ceo_img {
        width: 35%;
        margin-left: 3%; }
      .ceo_con .ceo_txt {
        width: 62%; }
        .ceo_con .ceo_txt h3 .sp_br {
          display: block; }
        .ceo_con .ceo_txt h3 span {
          font-size: 1.4rem; }
        .ceo_con .ceo_txt h4 {
          font-size: 1.4rem; } }
.sp_txt {
  display: none; }

@media screen and (max-width: 780px) {
  .sp_txt {
    display: block;
    font-size: 1.4rem;
    margin-top: 20px; } }

.cio_cdo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 120px; }
  .cio_cdo .cido_con {
    width: 46%; }
    .cio_cdo .cido_con h3 {
      color: #202040;
      font-weight: 600;
      width: 100%;
      border-bottom: 2px solid #00BFFF;
      padding-bottom: 5px; }
    .cio_cdo .cido_con h4 {
      color: #202040;
      font-size: 1.5rem;
      font-weight: 300;
      margin-top: 10px; }
    .cio_cdo .cido_con .cido_txt {
      margin-top: 30px; }
      .cio_cdo .cido_con .cido_txt h5 {
        font-weight: 600;
        font-size: 1.6rem;
        margin-bottom: 10px; }
      .cio_cdo .cido_con .cido_txt p {
        font-size: 1.4rem; }
  @media screen and (max-width: 680px) {
    .cio_cdo {
      display: block;
      margin-top: 100px; }
      .cio_cdo .cido_con {
        width: 100%; }
        .cio_cdo .cido_con:first-child {
          margin-bottom: 100px; } }
.com_bg_fx {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden; }
  .com_bg_fx .inner {
    background: url(../images/com_back.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 260px; }
  @media screen and (max-width: 680px) {
    .com_bg_fx {
      height: 200px; }
      .com_bg_fx .inner {
        background: url(../images/com_back.jpg) no-repeat center center;
        background-attachment: scroll;
        height: 200px; } }
.company_con {
  padding: 120px 0 100px 0 !important; }
  @media screen and (max-width: 480px) {
    .company_con {
      padding: 100px 0 60px 0 !important; } }
.table_c {
  margin-bottom: 40px; }
  .table_c table {
    width: 100%; }
    .table_c table th, .table_c table td {
      font-size: 1.6rem;
      border-bottom: solid 1px #d4d4d4;
      padding: 20px 15px;
      vertical-align: baseline; }
    .table_c table th {
      font-weight: 600;
      color: #202040;
      width: 30%; }
    .table_c table td {
      font-weight: 400;
      width: 70%; }
      .table_c table td p {
        line-height: 2; }
    @media screen and (max-width: 640px) {
      .table_c table th, .table_c table td {
        font-size: 1.4rem;
        padding: 10px 0px; }
      .table_c table th {
        padding-right: 15px;
        width: 25%; }
      .table_c table td {
        width: 75%; } }
.column_2_c {
  width: 100%;
  display: flex;
  flex-direction: row-reverse; }
  .column_2_c .flex_img {
    width: 50%; }
  .column_2_c .flex_txt {
    width: 45%;
    margin-right: 5%; }
    .column_2_c .flex_txt h3 {
      color: #202040;
      margin-bottom: 10px; }
    @media screen and (max-width: 640px) {
      .column_2_c .flex_txt p {
        font-size: 1.4rem; } }
@media screen and (max-width: 600px) {
  .column_2_c {
    display: block; }
    .column_2_c .flex_img {
      width: 100%;
      margin-bottom: 20px; }
    .column_2_c .flex_txt {
      width: 100%;
      margin-right: 0%; } }

.g_map {
  width: 100%;
  margin: 20px 0 40px 0;
  border-bottom: solid 1px #d4d4d4;
  padding-bottom: 30px; }

.g_map2 {
  border: 0px;
  margin-bottom: 180px; }
  @media screen and (max-width: 640px) {
    .g_map2 {
      margin-bottom: 120px; } }
  @media screen and (max-width: 480px) {
    .g_map2 {
      margin-bottom: 80px; } }
.under .under_img {
  width: 60px;
  display: block;
  margin: 0 auto; }

.under h4 {
  margin: 40px 0 30px 0; }

/*------ contact ------*/
#formWrap {
  max-width: 720px;
  margin: 0 auto;
  margin-top: 60px; }
  #formWrap .form_txt {
    text-align: center; }
  @media screen and (max-width: 640px) {
    #formWrap {
      margin-top: 0px; }
      #formWrap .form_txt {
        font-size: 1.4rem; } }
  #formWrap table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 60px; }
    @media screen and (max-width: 640px) {
      #formWrap table {
        margin-top: 40px; } }
    #formWrap table tr {
      border-bottom: 1px solid #d4d4d4; }
      #formWrap table tr:last-child {
        border: 0; }
      #formWrap table tr th, #formWrap table tr td {
        padding: 25px 10px;
        font-size: 1.6rem;
        line-height: 1.8; }
      #formWrap table tr th {
        position: relative;
        width: 30%;
        font-weight: 600; }
        @media screen and (max-width: 840px) {
          #formWrap table tr th {
            width: 40%; } }
        #formWrap table tr th span {
          position: absolute;
          right: 5%;
          top: 50%;
          transform: translateY(-50%);
          margin-left: auto;
          color: #ffffff;
          background: #202040;
          font-size: 1.2rem;
          font-weight: 400;
          padding: 0 10px;
          border-radius: 15px; }
      #formWrap table tr td {
        width: 65%;
        padding-left: 30px; }
        @media screen and (max-width: 840px) {
          #formWrap table tr td {
            width: 55%;
            padding-left: 20px; } }
        #formWrap table tr td input, #formWrap table tr td textarea, #formWrap table tr td select {
          display: block;
          box-shadow: none;
          outline: none;
          width: 100%;
          border: 1px solid #dce1f0;
          transition: 0.3s;
          background: #f7f9ff;
          font-size: 1.4rem; }
        #formWrap table tr td select {
          height: 40px;
          padding: 5px 10px; }
        #formWrap table tr td input {
          height: 40px;
          padding: 0 10px; }
        #formWrap table tr td textarea {
          display: inline-block;
          height: 220px;
          padding: 10px; }
        #formWrap table tr td input:focus, #formWrap table tr td textarea:focus {
          background: #ffffff;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
    @media screen and (max-width: 600px) {
      #formWrap table tr th, #formWrap table tr td {
        padding: 0;
        display: block;
        width: 100%; }
      #formWrap table tr th {
        margin: 20px 0 0 0;
        text-align: left; }
        #formWrap table tr th span {
          top: 50%;
          transform: translateY(-50%);
          right: 0%; }
      #formWrap table tr td {
        margin: 10px 0 20px 0; }
        #formWrap table tr td textarea {
          height: 200px; } }
.modal_box {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .modal_box .modal_bg {
    background-color: rgba(30, 30, 30, 0.9);
    height: 100%;
    width: 100%; }
  .modal_box .modal_inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 560px; }
    .modal_box .modal_inner .modal_block {
      width: 100%; }
    .modal_box .modal_inner .modal_close {
      cursor: pointer;
      position: absolute;
      right: -30px;
      top: -40px;
      color: #ffffff;
      font-size: 3rem; }

.privacy {
  margin: 60px 0 40px 0; }
  .privacy .pri_note {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.4rem; }
  .privacy .modal_btn {
    cursor: pointer;
    position: relative;
    font-size: 1.3rem;
    color: #8c8c8c;
    margin: 0 auto;
    padding: 10px;
    width: 270px;
    border: 1px solid #d9d9d9;
    transition: .3s; }
    .privacy .modal_btn::after {
      content: "";
      position: absolute;
      top: 10px;
      right: 10px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url(../images/plus_icon.svg);
      background-size: contain;
      background-repeat: no-repeat; }
    .privacy .modal_btn:hover {
      background-color: #ccf2ff; }
  .privacy .pri_block {
    width: calc(100% - 60px);
    height: calc(100vh - 120px);
    max-width: 820px; }
    @media screen and (max-width: 860px) {
      .privacy .pri_block {
        max-width: 600px; } }
    .privacy .pri_block .modal_block {
      background-color: #ffffff;
      width: 100%;
      height: 100%;
      padding: 60px 40px; }
      @media screen and (max-width: 480px) {
        .privacy .pri_block .modal_block {
          padding: 40px 30px; } }
    .privacy .pri_block .modal_close {
      right: 0; }
    .privacy .pri_block .pri_txt {
      width: 100%;
      height: 100%;
      text-align: left;
      font-size: 1.4rem;
      overflow-y: scroll; }
      .privacy .pri_block .pri_txt > * {
        max-width: 600px;
        margin: auto; }
      .privacy .pri_block .pri_txt .pri_note {
        text-align: left;
        color: #262626;
        margin: 20px auto 30px auto; }
      .privacy .pri_block .pri_txt p {
        color: #262626; }
      .privacy .pri_block .pri_txt dl dt {
        font-weight: 600; }
      .privacy .pri_block .pri_txt dl dd {
        margin-left: 1em;
        margin-bottom: 2rem; }
        .privacy .pri_block .pri_txt dl dd:last-of-type {
          margin-bottom: 0; }
        .privacy .pri_block .pri_txt dl dd ul {
          margin-left: 1.4em;
          font-size: 1.2rem; }
      .privacy .pri_block .pri_txt .representative {
        font-weight: 600;
        margin: 20px auto 30px auto; }
      .privacy .pri_block .pri_txt .address {
        text-align: center;
        border: 1px solid #cbcbcb;
        padding: 15px;
        font-size: 1.2rem; }
        .privacy .pri_block .pri_txt .address p {
          padding: 0;
          margin-bottom: 1rem; }
        .privacy .pri_block .pri_txt .address .name {
          font-weight: 600;
          margin-bottom: .2rem; }

@media screen and (max-width: 780px) {
  .privacy {
    margin: 60px 0; }
    .privacy p {
      text-align: left;
      margin-bottom: 20px; }
    .privacy .pri_con {
      padding: 20px; } }

@media screen and (max-width: 480px) {
  .privacy {
    margin: 40px 0; } }

.consent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px; }
  .consent label {
    margin-right: 25px; }
    .consent label .check {
      position: relative;
      cursor: pointer; }
      .consent label .check::before {
        position: absolute;
        z-index: 1;
        top: -2px;
        left: 10px;
        width: 9px;
        height: 5px;
        content: '';
        transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        transform: rotate(-45deg) scale(0, 0);
        border: 2px solid #6d98c6;
        border-top-style: none;
        border-right-style: none; }
      .consent label .check::after {
        position: absolute;
        top: -5px;
        left: 0;
        width: 20px;
        height: 20px;
        content: '';
        border: 2px solid #c3c3c3;
        background: #ffffff; }
    .consent label .check:checked:before {
      transform: rotate(-45deg) scale(2, 2); }
  .consent p {
    font-size: 1.6rem;
    font-weight: 600; }
    .consent p span {
      color: #ffffff;
      background: #202040;
      font-size: 1.2rem;
      font-weight: 400;
      padding: 5px 10px;
      border-radius: 15px;
      margin-left: 10px; }

@media screen and (max-width: 780px) {
  .consent {
    margin-bottom: 40px; } }

@media screen and (max-width: 480px) {
  .consent label {
    margin-right: 20px; }
  .consent p {
    font-size: 1.3rem;
    font-weight: 400; } }

.submit_con {
  display: flex;
  justify-content: center;
  margin: 60px auto; }
  .submit_con .submit {
    display: block;
    margin: 0 20px;
    background: #EE8A1E;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 3px;
    max-width: 260px;
    width: 100%;
    padding: 10px 15px;
    transition: 300ms;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border: 2px solid #EE8A1E; }
    .submit_con .submit:hover {
      background: #202040;
      border: 2px solid #202040; }
  @media screen and (max-width: 780px) {
    .submit_con {
      display: block;
      margin-bottom: 0px; }
      .submit_con .submit {
        margin: 30px auto; } }
.thx {
  text-align: center;
  padding: 60px 0; }
  @media screen and (max-width: 600px) {
    .thx {
      padding: 0;
      margin: 0 auto; } }
  .thx h3 {
    color: #202040;
    margin-bottom: 60px;
    letter-spacing: 0.2rem; }
  @media screen and (max-width: 600px) {
    .thx p {
      text-align: left; } }
/*------ service ------*/
.u_service {
  padding-bottom: 100px !important; }

.u_service_con {
  padding: 80px 0 0 0; }
  .u_service_con .u_s_tit {
    width: 100%;
    border-bottom: 1px solid #00BFFF;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 10px;
    margin-bottom: 60px; }
    .u_service_con .u_s_tit h3 {
      font-size: 7.5rem;
      color: #00BFFF;
      line-height: 1; }
      @media screen and (max-width: 960px) {
        .u_service_con .u_s_tit h3 {
          font-size: 6.5rem;
          width: 80%; } }
    .u_service_con .u_s_tit p {
      color: #202040;
      font-weight: 600;
      letter-spacing: 0.1rem; }
  @media screen and (max-width: 740px) {
    .u_service_con {
      padding: 40px 0 0 0;
      margin-bottom: 40px; }
      .u_service_con .u_s_tit {
        margin-bottom: 30px;
        align-items: flex-end; }
        .u_service_con .u_s_tit h3 {
          font-size: 5rem;
          width: 70%; }
        .u_service_con .u_s_tit p {
          font-size: 2rem; } }
  @media screen and (max-width: 480px) {
    .u_service_con {
      margin-bottom: 60px; }
      .u_service_con .u_s_tit {
        margin-bottom: 30px;
        padding-bottom: 5px; }
        .u_service_con .u_s_tit h3 {
          font-size: 3.6rem; }
        .u_service_con .u_s_tit p {
          font-size: 1.6rem; } }
  .u_service_con .u_s_txt1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 60px; }
    @media screen and (max-width: 960px) {
      .u_service_con .u_s_txt1 {
        margin-bottom: 40px; } }
    @media screen and (max-width: 740px) {
      .u_service_con .u_s_txt1 {
        margin-bottom: 20px; } }
    .u_service_con .u_s_txt1 .us_txt1_l {
      width: 50%;
      margin-right: 5%; }
      .u_service_con .u_s_txt1 .us_txt1_l p {
        margin-bottom: 60px; }
      .u_service_con .u_s_txt1 .us_txt1_l .shopify {
        width: 140px;
        position: relative;
        z-index: 2; }
    .u_service_con .u_s_txt1 .us_txt1_r {
      width: 45%; }
    @media screen and (max-width: 740px) {
      .u_service_con .u_s_txt1 .us_txt1_l {
        width: 60%;
        margin-right: 5%; }
        .u_service_con .u_s_txt1 .us_txt1_l p {
          font-size: 1.4rem;
          margin-bottom: 20px; }
        .u_service_con .u_s_txt1 .us_txt1_l .shopify {
          width: 100px; }
      .u_service_con .u_s_txt1 .us_txt1_r {
        width: 35%; } }
    @media screen and (max-width: 480px) {
      .u_service_con .u_s_txt1 {
        display: block; }
        .u_service_con .u_s_txt1 .us_txt1_l {
          width: 100%;
          margin-right: 0; }
        .u_service_con .u_s_txt1 .us_txt1_r {
          width: 100%;
          margin-bottom: 30px; } }
  .u_service_con .u_s_txt2 {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .u_service_con .u_s_txt2 .us_txt2_l {
      width: 50%;
      margin-right: 5%;
      padding: 0 3%;
      position: relative;
      top: -100px; }
      @media screen and (max-width: 960px) {
        .u_service_con .u_s_txt2 .us_txt2_l {
          top: -60px; } }
      .u_service_con .u_s_txt2 .us_txt2_l img {
        opacity: 0.4; }
    .u_service_con .u_s_txt2 .us_txt2_r {
      width: 45%; }
      .u_service_con .u_s_txt2 .us_txt2_r h4 {
        color: #202040;
        margin-bottom: 15px; }
      .u_service_con .u_s_txt2 .us_txt2_r p {
        margin-bottom: 40px; }
    @media screen and (max-width: 740px) {
      .u_service_con .u_s_txt2 .us_txt2_l {
        width: 40%;
        margin-right: 0%;
        padding: 0 0%;
        top: 0px; }
      .u_service_con .u_s_txt2 .us_txt2_r {
        width: 57%; }
        .u_service_con .u_s_txt2 .us_txt2_r p {
          font-size: 1.4rem;
          margin-bottom: 30px; } }
    @media screen and (max-width: 480px) {
      .u_service_con .u_s_txt2 {
        display: block; }
        .u_service_con .u_s_txt2 .us_txt2_l {
          width: 90%;
          max-width: 300px;
          margin: 0 auto 15px auto; }
        .u_service_con .u_s_txt2 .us_txt2_r {
          width: 100%; }
          .u_service_con .u_s_txt2 .us_txt2_r p {
            margin-bottom: 30px; } }
