@charset "UTF-8";

html{
	overflow-x: hidden !important;
}


// ベースカラー
$base-color: #202040;

// アクセントカラー
$accent-color: #00BFFF;

// ポイントカラー
$point-color: #EE8A1E;

// ホワイト
$white: #ffffff;

// ブラック
.black{
	color: #272121;
}
$txt-color: #262626;// テキストカラー


// 輝度を上げる
.lighten {
	color: lighten($base-color, 15%);
}

// 輝度を下げる
.darken {
	color: darken($base-color, 15%);
}



// 英語
.en{
	font-family: 'EB Garamond', serif;
	font-weight: 400;
}

// 明朝
.min{
	font-family: 'Noto Serif JP', serif;
}




/*------Head------*/


.head{
	.logo{
		width: 280px;
		position: absolute;
		z-index: 99;
		top: 40px;
		left: 3%;
		@media screen and (max-width: 1080px) {
			width: 260px;
			left: 3%;
			top: 30px;
		}
		@media screen and (max-width: 760px) {
			width: 220px;
			left: 30px;
		}
		@media screen and (max-width: 480px) {
			width: 220px;
			top: 20px;
			left: 20px;
		}
		a{
			display: block;
		}
	}
}




#nav-toggle {
	position: fixed;
	top: 30px;
	right: 30px;
	@media screen and (max-width: 770px) {
		top: 20px;
		right: 20px;
	}
	width: 50px;
	height: 50px;
	@media screen and (max-width: 640px) {
		width: 40px;
		height: 40px;
	}
	cursor: pointer;
	z-index: 100;
	background-color: $accent-color;
	transition: .3s ease-in-out,;
	&:hover{
		background-color: $point-color;
	}
  > div {
    position: relative;
    width: 20px;
    left: 15px;
    top: 17px;
	@media screen and (max-width: 640px) {
	    left: 10px;
	    top: 12px;
	}
  }
  span {
    width: 100%;
    height: 1px;
    left: 0;
    display: block;
    background: #ffffff;
    position: absolute;
    transition: transform .3s ease-in-out, top .3s ease, width .3s ease-in-out;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 7px;
      width: 16px;
    }
    &:nth-child(3) {
      top: 14px;
    }
  }

  &:hover span:nth-child(2) {
    width: 20px;
  }
}


.open {
	overflow: hidden;
  #nav-toggle span {
    background: #ffffff;
    &:nth-child(1) {
      top: 7px;
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      width: 0;
    }
    &:nth-child(3) {
      top: 7px;
      transform: rotate(-45deg);
    }
  }
  #gloval-nav {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
  #gloval-nav li {
    opacity: 1;
    transform: translateX(0);
    transition:  transform 1s ease, opacity .9s ease;
  }
}




/*------Gnav------*/



#gloval-nav {
	background: rgba($base-color, 0.9);
	position: fixed;
	width: 300px;
	top: 0;
	left: auto;
	right: 0;
	bottom: 0;
	z-index: 99;
	display: flex;
	visibility: hidden;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transform: translateX(100px);
	transition: transform .6s ease,opacity .6s ease, visibility .6s ease;
	nav{
		width: 100%;
	  ul {
	    list-style: none;
	    li {
	      opacity: 0;
	      background-size: contain;
	      background-position: center center; 
	      background-repeat: no-repeat;
	      transform: translateX(200px);
	      transition:  transform .6s ease, opacity .2s ease;
				
	      &:nth-child(1) {
	        transition-delay: .15s;
	      }
	      &:nth-child(2) {
	        transition-delay: .15s;
	      }
	      &:nth-child(3) {
	        transition-delay: .3s;
	      }
	      &:nth-child(4) {
	        transition-delay: .45s;
	      }
	      &:nth-child(5) {
	        transition-delay: .6s;
	      }
			  a {
				  position: relative;
			    display: block;
			    color: #ffffff;
			    text-decoration: none;
			    text-align: center;
			    margin: 40px 0;
			    transition: .6s ease;
					font-size: 1.9rem;
					font-family: 'EB Garamond', serif;
					font-weight: 400;
					letter-spacing: 2px;
			    padding: 5px 0;
			    &:hover {
			      color: $accent-color;
			      &::after {
				      right: 10px;
			      }
			    }
			  }
	    }
	  }
	}
}




// -----------------------------------





@keyframes fadeup {
    0% {
        opacity: 0;
        transform:translateY(40px);
    }
    100% {
        opacity: 1;
        transform:translateY(0px);
    }
}

@keyframes fadedown {
    0% {
        opacity: 0;
        transform:translateY(-40px);
    }
    100% {
        opacity: 1;
        transform:translateY(0px);
    }
}

@keyframes width {
    0% {
        opacity: 0;
        width: 0%;
    }
    100% {
        opacity: 1;
        width: 45%;
    }
}







.top_fv_movie{
	width: 100%;
	height: 100vh;
	position: relative;
	background: #000000;
	overflow: hidden;
	@media screen and (max-width: 600px) {
		background: url('../images/top_view_sp.png') no-repeat; 
		background-position: center center;
		background-size: cover;
	}
	#video {
/*
		background: #000000;
		background: url('../images/top_view.mp4') no-repeat; 
		background-attachment: fixed;
		background-position: center center;
		background-size: cover;
*/
		left: 0;
		min-height: 100%;
		min-height: 100vh;
		min-width: 100%;
		min-width: 100vw;
		position: absolute;
		top: 0;
		z-index: 0;
		opacity: 0.3;
		@media screen and (max-width: 600px) {
			display: none;
		}
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAOklEQVQYV2NkYGD4z8Br5Mfw+dxmBgYGY0YGXiNfBs6zxgyvGBsYGBgYGEEEFIBVggSMGRgYzsJUAgCn5QtZ3+tEogAAAABJRU5ErkJggg==
 ) repeat;
			background-size: 4px 4px;
			z-index: 2;
			@media screen and (max-width: 770px) {
				display: none;
			}
		}
	}
/*
	.video{
		width: 100%;
		height: 100%;
		video{
			width: 100%;
			height: 100%;
			opacity: 0.3;
		}
	}
*/
	.top_tit{
		position: absolute !important;
		z-index: 3;
		top: 45%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		width: 100%;
		display: block;
/*
		.top_tit_a{
			width: 100%;
			margin: 0 auto;
			animation: fadeup 1200ms ease-out 600ms 1 normal both;
		}
*/
		.text-js{
			opacity: 0;
			font-size: 10.6rem;
			text-align: center;
			color: #ffffff;
			letter-spacing: 0.1rem;
			font-family: 'Teko', sans-serif;
			font-weight: 300;
			line-height: 1;
			@media screen and (max-width: 680px) {
				font-size: 8.6rem;
			}
			@media screen and (max-width: 500px) {
				font-size: 6.0rem;
			}
		}
		.titline{
			background: #ffffff;
			height: 1px;
			margin: 10px auto 40px auto;
			animation: width 1000ms ease-out 1400ms 1 normal both;
		}
		.top_tit_b{
			width: 30%;
			margin: 0 auto;
			animation: fadedown 1200ms ease-out 2100ms 1 normal both;
			@media screen and (max-width: 940px) {
				width: 50%;
			}
			@media screen and (max-width: 540px) {
				width: 60%;
			}
		}
	}
}









// -----------------------------------






@keyframes scroll{
	0%{
		height: 0;
	}
	50%{
		height: 140px;
		margin-top: 0;
	}
	100%{
		margin-top: 140px;
		height: 140px;
	}
}


.scroll{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	bottom: 0;
	height: 140px;
	overflow: hidden;
	z-index: 3;
	p{
		font-size: 1.2rem;
		color: #ffffff;
		letter-spacing: 0.2rem;
		margin-bottom: 10px;
	}
	&:after{
		content:"";
		display: block;
		width: 1px;
		border-left:1px #ffffff solid;
		animation:scroll 2s ease 0s infinite normal;
		margin: 0 auto 0 auto;
	}
}





.news{
	width: 80%;
	max-width: 900px;
	height: 60px;
	position: absolute;
	z-index: 4;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	background: #141414;
	display: flex;
	justify-content: space-between;
	.news_txt{
		display: flex;
		align-items: center;
		height: 60px;
		padding: 0 5%;
		h3{
			color: #ffffff;
			margin-right: 30px;
		}
		a{
			color: #ffffff;
			font-size: 14px;
			padding: 15px 0;
			transition: 300ms;
			&:hover{
				opacity: 0.6;
			}
		}
	}
	.more {
		position: relative;
		display: block;
		overflow: hidden;
		width: 130px;
		height: 60px;
		background-color: $base-color;
		&::before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: $accent-color;
			transition: 0.3s cubic-bezier(1,.18,.5,.94);
		}
		&::before{
			left: -100%;
		}
		span{
			position: absolute;
			z-index: 1;
			color: #ffffff;
			font-size: 1.8rem;
			letter-spacing: 0.1rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover {
			&::before {
				left: 0%;
			}
		}
	}
}













// -----------------------------------







.back_cover{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}


.annotate{
	p{
		text-align: center;
		color: $point-color;
		position: relative;
		letter-spacing: 0.2rem;
		&::before {
			content: '';
			position: absolute;
			bottom: -10px;
			left: 50%;
			transform: translate(-50%, 0);
			width: 30px;
			height: 1px;
			background-color: #C3C3C3;
		}
	}
}

.sub_wrap{
	padding: 140px 0 160px 0;
	background-image: url(../images/sub_back.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 80%;
	.sub_tit{
		padding: 50px 5%;
		h3{
			font-weight: 400;
			line-height: 1.8;
		}
		p{
			margin-top: 50px;
			line-height: 2.5;
		}
	}
	@media screen and (max-width: 740px) {
		padding: 100px 0 20px 0;
		margin-bottom: 80px;
		.sub_tit{
			p{
				margin-top: 40px;
				line-height: 2;
				text-align: left;
			}
		}
	}
	@media screen and (max-width: 480px) {
		padding: 80px 0;
		margin-bottom: 20px;
		.sub_tit{
			h3{
				font-size: 1.8rem;
			}
			p{
				font-size: 1.4rem;
				margin-top: 30px;
				line-height: 1.8;
			}
		}
	}
}







// -----------------------------------








.service_wrap{
	padding: 0 20px;
	padding-bottom: 120px;
	@media screen and (max-width: 770px) {
		padding: 0 0 80px 0;
	}
	.service_con{
		position: relative;
		margin: 40px 0;
		padding: 110px 0 80px 0;
		@media screen and (max-width: 770px) {
			padding: 80px 0 120px 0;
		}
		&::before{
			content: '';
			background: #e3e3e3;
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
		}
		.service_a{
			position: relative;
			padding: 240px 0 0 65%;
			margin-bottom: 180px;
			&::before{
				content: '';
				background: $base-color;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				position: absolute;
				left: 50%;
				top: -110px;
				-webkit-transform: translate(-50%, 0);
				-ms-transform: translate(-50%, 0);
				transform: translate(-50%, 0);
				@media screen and (max-width: 770px) {
					top: -80px;
				}
			}
			.service_a_img{
				position: absolute;
				top: 0;
				left: 0;
				width: 60%;
			}
			h2{
				position: absolute;
				top: 70px;
				right: 0;
				font-size: 10rem;
				color: $accent-color;
			}
			h3{
				color: $base-color;
				margin-bottom: 30px;
				&::before{
					content: '';
					display: block;
					position: absolute;
					width: 100px;
					height: 40px;
					right: 0;
					background-image: url(../images/shopify.png);
					background-size: contain;
					background-repeat: no-repeat;
				}
			}
			p{
				font-size: 1.4rem;
			}
			a{
				position: absolute;
				top: 380px;
				left: 5%;
			}
			@media screen and (max-width: 770px) {
				padding: 0;
				.service_a_img{
					position: relative;
					width: 95%;
					margin-bottom: 30px;
				}
				h2{
					position: relative;
					top: 0;
					right: auto;
					font-size: 5rem;
					left: 5%;
					line-height: 1;
					margin-bottom: 15px;
					width: 95%;
				}
				h3{
					padding: 0 15% 0 5%;
					&::before{
						width: 80px;
						height: 40px;
						right: 15%;
					}
				}
				p{
					padding: 0 15% 0 5%;
					.sp_br{
						display: none;
					}
				}
				a{
					position: relative;
					top: 40px;
					width: 190px;
					height: 50px;
				}
			}
		}
		.service_b{
			position: relative;
			padding: 220px 65% 0 70px;
			margin-bottom: 180px;
			.service_a_img{
				position: absolute;
				top: 0;
				right: 0;
				width: 60%;
			}
			h2{
				position: absolute;
				top: 70px;
				left: 0;
				font-size: 8rem;
				color: $accent-color;
			}
			h3{
				color: $base-color;
				margin-bottom: 30px;
			}
			p{
				font-size: 1.4rem;
			}
			a{
				position: absolute;
				top: 380px;
				right: 5%;
			}
			@media screen and (max-width: 770px) {
				padding: 0;
				.service_a_img{
					position: relative;
					padding-left: 5%;
					width: 100%;
					margin-bottom: 30px;
				}
				h2{
					position: relative;
					top: 0;
					right: auto;
					font-size: 5rem;
					left: 15%;
					line-height: 1;
					margin-bottom: 15px;
					width: 85%;
				}
				h3{
					padding-left: 15%;
				}
				p{
					padding-left: 15%;
					.sp_br{
						display: none;
					}
				}
				a{
					position: relative;
					top: 40px;
					width: 190px;
					height: 50px;
					left: 15%;
				}
			}
		}
		.service_c{
			position: relative;
			padding: 260px 0 0 65%;
			margin-bottom: 0px;
			&::before{
				content: '';
				background: $base-color;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				position: absolute;
				left: 50%;
				bottom: -90px;
				-webkit-transform: translate(-50%, 0);
				-ms-transform: translate(-50%, 0);
				transform: translate(-50%, 0);
				@media screen and (max-width: 770px) {
					bottom: -130px;
				}
			}
			.service_a_img{
				position: absolute;
				top: 0;
				left: 0;
				width: 60%;
			}
			h2{
				text-align: right;
				position: absolute;
				top: 80px;
				right: 0;
				font-size: 8.5rem;
				line-height: 1;
				color: $accent-color;
			}
			h3{
				color: $base-color;
				margin-bottom: 30px;
			}
			p{
				font-size: 1.4rem;
			}
			a{
				position: absolute;
				top: 380px;
				left: 5%;
			}
			@media screen and (max-width: 770px) {
				padding: 0;
				.service_a_img{
					position: relative;
					width: 95%;
					margin-bottom: 30px;
				}
				h2{
					position: relative;
					top: 0;
					right: auto;
					font-size: 5rem;
					left: 5%;
					line-height: 1;
					margin-bottom: 15px;
					text-align: left;
					width: 95%;
				}
				h3{
					padding: 0 15% 0 5%;
					&::before{
						width: 80px;
						height: 40px;
						right: 15%;
					}
				}
				p{
					padding: 0 15% 0 5%;
					.sp_br{
						display: none;
					}
				}
				a{
					position: relative;
					top: 40px;
					width: 190px;
					height: 50px;
				}
			}
		}
	}
}





.btn {
	position: relative;
	display: block;
	overflow: hidden;
	width: 220px;
	height: 100px;
	background-color: $accent-color;
	&::before,&::after{
		content: '';
		position: absolute;
		width: 220px;
		height: 100px;
		background-color: rgba($base-color, 0.7);
		transition: 0.4s cubic-bezier(1,.18,.5,.94);
		@media screen and (max-width: 770px) {
			width: 190px;
			height: 50px;
		}
	}
	&::before{
		left: -100%;
	}
	&::after{
		right: -100%;
	}
	span{
		position: absolute;
		z-index: 1;
		color: #ffffff;
		transition: 0.4s ease;
		font-size: 1.8rem;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
	}
	&:hover {
		&::before {
			left: 0%;
		}
		&::after {
			right: 0%;
		}
	}
	
}






// -----------------------------------








.about_wrap{
	display: block;
	padding: 120px 20px 50px 20px;
	position: relative;
	@media screen and (max-width: 770px) {
		padding: 80px 20px 80px 20px;
	}
	.bg_fx{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 550px;
		@media screen and (max-width: 770px) {
			height: 100%;
		}
		overflow: hidden;
		.inner{
			background: url(../images/bg_program.jpg) no-repeat center bottom;
			background-size: cover;
			background-attachment: fixed;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@media screen and (max-width: 770px) {
				background-attachment: scroll;
			}
		}
	}
	.fdp_area{
		position: relative;
		.annotate{
			p{
				color: $base-color;
			}
			h5{
				color: #1E120D;
				text-align: center;
				letter-spacing: 0.2rem;
				margin: 40px 0 120px 0;
				font-weight: 300;
				@media screen and (max-width: 770px) {
					margin: 40px 0 80px 0;
				}
				@media screen and (max-width: 540px) {
					margin: 40px 0 60px 0;
				}
			}
		}
		.about_links{
			display: flex;
			justify-content: space-between;
			margin-bottom: 100px;
			@media screen and (max-width: 770px) {
				display: block;
				margin-bottom: 0px;
			}
			.item{
				position: relative;
				width: 48%;
				background: #ffffff;
				@media screen and (max-width: 770px) {
					width: 100%;
					&:first-child{
						margin-bottom: 40px;
						@media screen and (max-width: 540px) {
							margin-bottom: 30px;
						}
					}
				}
				a{
					display: block;
					width: 100%;
					height: 100%;
					padding: 60px 60px 160px 60px;
					transition: box-shadow .3s;
					@media screen and (max-width: 960px) {
						padding: 40px 40px 140px 40px;
					}
					@media screen and (max-width: 540px) {
						padding: 40px 40px 140px 30px;
					}
					&:hover{
						box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
					}
					h3{
						font-size: 2.8rem;
						color: $point-color;
						margin-bottom: 20px;
						
					}
					.item_txt{
						position: relative;
						border-left: 1px solid #AAAAAA;
						padding: 30px;
						@media screen and (max-width: 960px) {
							padding: 30px 20px 30px 30px;
						}
						@media screen and (max-width: 540px) {
							padding: 30px 0px 30px 25px;
						}
						&::before{
							content: '';
							background: $base-color;
							width: 8px;
							height: 8px;
							border-radius: 50%;
							position: absolute;
							left: 0;
							top: 0;
							-webkit-transform: translate(-50%, 0);
							-ms-transform: translate(-50%, 0);
							transform: translate(-50%, 0);
						}
						h4{
							color: $base-color;
						}
						p{
							margin-top: 20px;
						}
					}
					.btn{
						position: absolute;
						bottom: 65px;
						@media screen and (max-width: 770px) {
							bottom: 50px;
							width: 190px;
						}
						left: 50%;
						transform: translate(-50%, 0);
						height: 60px;
						&::before,&::after{
							height: 60px;
						}
					}
					&:hover .btn{
						&::before {
							left: 0%;
						}
						&::after {
							right: 0%;
						}
					}
				}
			}
		}
	}
}






// -----------------------------------








.contact_wrap{
	display: block;
	padding: 100px 20px 100px 20px;
	position: relative;
	@media screen and (max-width: 640px) {
		padding: 80px 25px 80px 25px;
	}
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAMklEQVQYV2NkYGD4z8Br5Mfw+dxmBgYGY0YGXiNfKIcBBBjBJASAVYIEjBkYGM7CVAIAsNEMxHXyN+YAAAAASUVORK5CYII=
) repeat;
		background-size: 4px 4px;
		z-index: 2;
		@media screen and (max-width: 770px) {
			display: none;
		}
	}
	.bg_fx{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 400px;
		overflow: hidden;
		.inner{
			background: url(../images/bg_program2.jpg) no-repeat center bottom;
			background-size: cover;
			background-attachment: fixed;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@media screen and (max-width: 770px) {
				background-attachment: scroll;
			}
		}
	}
	.fdp_area{
		position: relative;
		z-index: 3;
		.annotate{
			h5{
				color: #ffffff;
				text-align: center;
				margin: 40px 0 30px 0;
				font-weight: 300;
			}
		}
		.btn{
			margin: 0 auto;
			height: 60px;
			@media screen and (max-width: 770px) {
				width: 190px;
			}
			&::before,&::after{
				height: 60px;
			}
		}
	}
}








// -----------------------------------






footer{
	width: 100%;
	background: $base-color;
	padding: 60px 5%;
	position: relative;
	@media screen and (max-width: 580px) {
		padding: 60px 5% 100px 5%;
	}
	.f_logo{
		display: block;
		width: 240px;
		@media screen and (max-width: 580px) {
			margin: 0 auto;
			width: 200px;
		}
	}
	.f_menu{
		width: 100%;
		padding: 40px 0 0 0;
		display: flex;
		@media screen and (max-width: 580px) {
			justify-content: center;
		}
		.f_menu_con{
			margin-right:5%;
			a{
				color: #ffffff;
				font-size: 1.6rem;
				display: block;
				transition: 300ms;
				&:hover{
					color: $accent-color;
				}
			}
		}
	}
	#page-top {
		position: absolute;
		z-index: 99;
		right: 5%;
		bottom: 100px;
		a{
			display: block;
			text-decoration: none;
			width: 45px;
			height: 45px;
			padding: 10px;
			transition:300ms;
			&:hover{
				background: $point-color;
			}
		}
	}
}


.credit{
	width: 100%;
	background: darken($base-color, 5%);
	padding: 15px 2%;
	p{
		text-align: right;
		font-size: 1.2rem;
		color: #ffffff;
	}
}



















/*------ margin-bottom: 100〜60px; ------*/

.margin-b_100-60{
	margin-bottom: 100px;
	@media screen and (max-width: 760px) {
		margin-bottom: 60px;
	}
}


/*------ margin-bottom: 120〜80px; ------*/

.margin-b_120-80{
	margin-bottom: 120px;
	@media screen and (max-width: 760px) {
		margin-bottom: 80px;
	}
}


/*------ margin-bottom: 40〜30px; ------*/

.margin-b_40-30{
	margin-bottom: 40px;
	@media screen and (max-width: 760px) {
		margin-bottom: 30px;
	}
}















/*------ lower page ------*/






@keyframes fadedown2 {
    0% {
        opacity: 0;
        transform:translateY(-20px);
    }
    100% {
        opacity: 1;
        transform:translateY(0px);
    }
}

@keyframes l_width {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 120px;
    }
}



.lower_top{
	position: relative;
	.back_cover{
		width: 100%;
		height: 400px;
		@media screen and (max-width: 640px) {
			height: 360px;
		}
		background-image: url(../images/bg_img1.png);
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 400px;
			@media screen and (max-width: 640px) {
				height: 360px;
			}
			background-size: 2px 2px;
			background-position: 0 0, 1px 1px;
			background-image:
			 linear-gradient(45deg,  #252A44 25%, #252A44 25%, transparent 25%,
			  transparent 75%, #252A44 75%, #252A44 75%),
			 linear-gradient(-135deg, #252A44 25%, #252A44 25%, transparent 25%,
			  transparent 75%, #252A44 75%, #252A44 75%);
		}
	}
	.lt_tit{
		position: absolute !important;
		z-index: 3;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		width: 50%;
		display: block;
		.text-js{
			opacity: 0;
			font-size: 7rem;
			text-align: center;
			color: #ffffff;
			letter-spacing: 0.3rem;
			font-family: 'Teko', sans-serif;
			font-weight: 100;
			line-height: 1;
			@media screen and (max-width: 640px) {
				font-size: 6rem;
			}
			@media screen and (max-width: 480px) {
				font-size: 5.6rem;
			}
		}
		.titline{
			background: #ffffff;
			height: 1px;
			margin: 10px auto 20px auto;
			animation: l_width 1000ms ease-out 1400ms 1 normal both;
			@media screen and (max-width: 640px) {
				margin: 10px auto 15px auto;
			}
		}
		.lt_tit_b{
			color: #ffffff;
			text-align: center;
			font-size: 2rem;
			letter-spacing: 0.3rem;
			animation: fadedown2 800ms ease-out 2000ms 1 normal both;
			@media screen and (max-width: 640px) {
				font-size: 1.8rem;
				letter-spacing: 0.2rem;
			}
		}
	}
}




.under_wrap{
	position: relative;
	margin: -50px auto 0 auto;
	&::before,&::after{
		content: '';
		position: absolute;
		width: 1px;
		height: 50px;
		left: 50%;
	}
	&::before{
		background: #fff;
		top: -50px;
	}
	&::after{
		background: #000;
		top: 0;
	}
	.under_con{
		position: relative;
		max-width: 1160px;
		padding: 120px 0 200px 0;
		&::before{
			content: '';
			background: #fff;
			width: 95%;
			max-width: 1160px;
			height: 50px;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
	@media screen and (max-width: 480px) {
		margin: -35px auto 0 auto;
		&::before,&::after{
			height: 35px;
		}
		&::before{
			top: -35px;
		}
		.under_con{
			padding: 120px 0 120px 0;
		}
	}
}






/*------ about us ------*/




.ceo_con{
	display: flex;
	margin-top: 100px;
	.ceo_img{
		width: 40%;
		margin-right: 5%;
	}
	.ceo_txt{
		width: 55%;
		h3{
			color: $base-color;
			font-weight: 600;
			border-bottom: 2px solid $accent-color;
			padding-bottom: 5px;
			.sp_br{
				display: none;
			}
		}
		h4{
			color: $base-color;
			font-size: 1.6rem;
			font-weight: 300;
			margin: 15px 0 40px 0;
		}
		.pc_txt{
			font-size: 1.4rem;
		}
	}
	@media screen and (max-width: 780px) {
		margin-top: 80px;
		flex-direction: row-reverse;
		align-items: center;
		.ceo_img{
			width: 25%;
			margin-right: 0;
			margin-left: 5%;
		}
		.ceo_txt{
			width: 70%;
		}
		.pc_txt{
			display: none;
		}
	}
	@media screen and (max-width: 640px) {
		margin-top: 75px;
		.ceo_img{
			width: 30%;
			margin-left: 5%;
		}
		.ceo_txt{
			width: 65%;
		}
	}
	@media screen and (max-width: 530px) {
		align-items: flex-start;
		.ceo_img{
			width: 35%;
			margin-left: 3%;
		}
		.ceo_txt{
			width: 62%;
			h3{
				.sp_br{
					display: block;
				}
				span{
					font-size: 1.4rem;
				}
			}
			h4{
				font-size: 1.4rem;
			}
		}
	}
}
.sp_txt{
	display: none;
}
@media screen and (max-width: 780px) {
	.sp_txt{
		display: block;
		font-size: 1.4rem;
		margin-top: 20px;
	}
}
.cio_cdo{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
	.cido_con{
		width: 46%;
		h3{
			color: $base-color;
			font-weight: 600;
			width: 100%;
			border-bottom: 2px solid $accent-color;
			padding-bottom: 5px;
		}
		h4{
			color: $base-color;
			font-size: 1.5rem;
			font-weight: 300;
			margin-top: 10px;
		}
		.cido_txt{
			margin-top: 30px;
			h5{
				font-weight: 600;
				font-size: 1.6rem;
				margin-bottom: 10px;
			}
			p{
				font-size: 1.4rem;
			}
		}
	}
	@media screen and (max-width: 680px) {
		display: block;
		margin-top: 100px;
		.cido_con{
			width: 100%;
			&:first-child{
				margin-bottom: 100px;
			}
		}
	}
}






.com_bg_fx{
	position: relative;
	width: 100%;
	height: 260px;
	overflow: hidden;
	.inner{
		background: url(../images/com_back.jpg) no-repeat center top;
		background-size: cover;
		background-attachment: fixed;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 260px;
	}
	@media screen and (max-width: 680px) {
		height: 200px;
		.inner{
			background: url(../images/com_back.jpg) no-repeat center center;
			background-attachment: scroll;
			height: 200px;
		}
	}
}











.company_con{
	padding: 120px 0 100px 0 !important;
	@media screen and (max-width: 480px) {
		padding: 100px 0 60px 0 !important;
	}
}


.table_c{
	margin-bottom: 40px;
	table{
		width: 100%;
		th,td{
			font-size: 1.6rem;
			border-bottom: solid 1px #d4d4d4;
			padding: 20px 15px;
			vertical-align: baseline;
		}
		th {
			font-weight: 600;
			color: $base-color;
			width: 30%;
		}
		td {
			font-weight: 400;
			width: 70%;
			p{
				line-height: 2;
			}
		}
		@media screen and (max-width: 640px) {
			th,td{
				font-size: 1.4rem;
				padding: 10px 0px;
			}
			th{
				padding-right: 15px;
				width: 25%;
			}
			td{
				width: 75%;
			}
		}
	}
}






.column_2_c{
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	.flex_img{
		width: 50%;
	}
	.flex_txt{
		width: 45%;
		margin-right: 5%;
		h3{
			color: $base-color;
			margin-bottom: 10px;
		}
		@media screen and (max-width: 640px) {
			p{
				font-size: 1.4rem;
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.column_2_c{
		display: block;
		.flex_img{
			width: 100%;
			margin-bottom: 20px;
		}
		.flex_txt{
			width: 100%;
			margin-right: 0%;
		}
	}
}

.g_map{
	width: 100%;
	margin: 20px 0 40px 0;
	border-bottom: solid 1px #d4d4d4;
	padding-bottom: 30px;
}


.g_map2{
	border: 0px;
	margin-bottom: 180px;
	@media screen and (max-width: 640px) {
		margin-bottom: 120px;
	}
	@media screen and (max-width: 480px) {
		margin-bottom: 80px;
	}
}








.under{
	.under_img{
		width: 60px;
		display: block;
		margin: 0 auto;
	}
	h4{
		margin: 40px 0 30px 0;
	}
}





/*------ contact ------*/





#formWrap {
	max-width: 720px;
	margin:0 auto;
	margin-top: 60px;
	.form_txt{
		text-align: center;
	}
	@media screen and (max-width: 640px) {
		margin-top: 0px;
		.form_txt{
			font-size: 1.4rem;
		}
	}
	table{
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		margin-top: 60px;
		@media screen and (max-width: 640px) {
			margin-top: 40px;
		}
		tr{
			border-bottom: 1px solid #d4d4d4;
			&:last-child{
				border: 0;
			}
			th, td{
				padding: 25px 10px;
				font-size: 1.6rem;
				line-height: 1.8;
			}
			th{
				position: relative;
				width:30%;
				font-weight: 600;
				@media screen and (max-width: 840px) {
					width:40%;
				}
				span{
					position: absolute;
					right: 5%;
					top: 50%;
					transform: translateY(-50%);
					margin-left: auto;
					color: $white;
					background: $base-color;
					font-size: 1.2rem;
					font-weight: 400;
					padding: 0 10px;
					border-radius: 15px; 
				}
			}
			td{
				width: 65%;
				padding-left: 30px;
				@media screen and (max-width: 840px) {
					width: 55%;
					padding-left: 20px;
				}
				input, textarea, select{
					display: block;
					box-shadow: none;
					outline: none;
					width: 100%;
					border: 1px solid #dce1f0;
					transition: 0.3s;
					background: #f7f9ff;
					font-size: 1.4rem;
				}
				select{
					height: 40px;
					padding: 5px 10px;
				}
				input{
					height: 40px;
					padding: 0 10px;
				}
				textarea{
					display: inline-block;
					height: 220px;
					padding: 10px;
				}
				input:focus,textarea:focus {
					background: #ffffff;
					box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
				}
			}
		}
		@media screen and (max-width: 600px) {
			tr{
				th, td{
					padding:  0;
					display: block;
					width: 100%;
				}
				th{
					margin: 20px 0 0 0;
					text-align: left;
					span{
						top: 50%;
						transform: translateY(-50%);
						right: 0%;
					}
				}
				td{
					margin: 10px 0 20px 0;
					textarea{
						height: 200px;
					}
				}
			}
		}
	}
}





.modal_box {
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	.modal_bg{
		background-color: rgba(30, 30, 30, 0.9);
		height: 100%;
		width: 100%;
	}
	.modal_inner {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
		max-width: 560px;
		.modal_block{
			width: 100%;
		}
		.modal_close {
			cursor: pointer;
			position: absolute;
			right: -30px;
			top: -40px;
			color: #ffffff;
			font-size: 3rem;
		}
	}

}





.privacy{
	margin: 60px 0 40px 0;
	.pri_note{
		text-align: center;
		margin-bottom: 20px;
		font-size: 1.4rem;
	}
	.modal_btn{
		cursor: pointer;
		position: relative;
		font-size: 1.3rem;
		color: lighten($txt-color, 40%);
		margin: 0 auto;
		padding: 10px;
		width: 270px;
		border: 1px solid lighten($txt-color, 70%);
		transition: .3s;
		&::after {
			content:"";
			position: absolute;
			top: 10px;
			right: 10px;
			display: inline-block;
			width: 20px;
			height: 20px;
			background-image: url(../images/plus_icon.svg);
			background-size: contain;
			background-repeat: no-repeat;
		}
		&:hover{
			background-color: lighten($accent-color, 40%);
		}
	}
	.pri_block{
		width: calc(100% - 60px);
		height: calc(100vh - 120px);
		max-width: 820px;
		@media screen and (max-width: 860px) {
			max-width: 600px;
		}
		.modal_block{
			background-color: #ffffff;
			width: 100%;
			height: 100%;
			padding: 60px 40px;
			@media screen and (max-width: 480px) {
				padding: 40px 30px;
			}
		}
		.modal_close{
			right: 0;
		}
		.pri_txt{
			width: 100%;
			height: 100%;
			text-align: left;
			font-size: 1.4rem;
			overflow-y: scroll;
			>*{
				max-width: 600px;
				margin: auto;
			}
			.pri_note{
				text-align: left;
				color: $txt-color;
				margin: 20px auto 30px auto;
			}
			p{
				color: $txt-color;
			}
			dl{
				dt{
					font-weight: 600;
				}
				dd{
					margin-left: 1em;
					margin-bottom: 2rem;
					&:last-of-type{
						margin-bottom: 0;
					}
					ul{
						margin-left: 1.4em;
						font-size: 1.2rem;
					}
				}
			}
			.representative{
				font-weight: 600;
				margin: 20px auto 30px auto;
			}
			.address{
				text-align: center;
				border: 1px solid #cbcbcb;
				padding: 15px;
				font-size: 1.2rem;
				p{
					padding: 0;
					margin-bottom: 1rem;
				}
				.name{
					font-weight: 600;
					margin-bottom: .2rem;
				}
			}
		}
	}
}
@media screen and (max-width: 780px) {
	.privacy{
		margin: 60px 0;
		p{
			text-align: left;
			margin-bottom: 20px;
		}
		.pri_con{
			padding: 20px;
		}
	}
}
@media screen and (max-width: 480px) {
	.privacy{
		margin: 40px 0;
	}
}


.consent{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
	label {
		margin-right: 25px;
		.check{
			position: relative;
			cursor: pointer;
			&::before{
				position: absolute;
				z-index: 1;
				top: -2px;
				left: 10px;
				width: 9px;
				height: 5px;
				content: '';
				transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
				transform: rotate(-45deg) scale(0, 0);
				border: 2px solid #6d98c6;
				border-top-style: none;
				border-right-style: none;
			}
			&::after{
				position: absolute;
				top: -5px;
				left: 0;
				width: 20px;
				height: 20px;
				content: '';
				border: 2px solid #c3c3c3;
				background: #ffffff;
			}
		}
		.check:checked:before {
			transform: rotate(-45deg) scale(2, 2);
		}
	}
	p{
		font-size: 1.6rem;
		font-weight: 600;
		span{
			color: $white;
			background: $base-color;
			font-size: 1.2rem;
			font-weight: 400;
			padding: 5px 10px;
			border-radius: 15px;
			margin-left: 10px;
		}
	}
}
@media screen and (max-width: 780px) {
	.consent{
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 480px) {
	.consent{
		label {
			margin-right: 20px;
		}
		p{
			font-size: 1.3rem;
			font-weight: 400;
		}
	}
}



.submit_con{
	display: flex;
	justify-content: center;
	margin: 60px auto;
	.submit {
		display: block;
		margin: 0 20px;
		background: $point-color;
		color: $white;
		font-size: 1.8rem;
		font-weight: 600;
		letter-spacing: 3px;
		max-width: 260px;
		width: 100%;
		padding: 10px 15px;
		transition: 300ms;
		vertical-align: middle;
		text-align: center;
		cursor: pointer;
		border: 2px solid $point-color;
		&:hover {
			background: $base-color;
			border: 2px solid $base-color;
		}
	}
	@media screen and (max-width: 780px){
		display: block;
		margin-bottom: 0px;
		.submit{
			margin: 30px auto;
		}
	}
}




.thx{
	text-align: center;
	padding: 60px 0;	
	@media screen and (max-width: 600px){
		padding: 0;
		margin: 0 auto;
	}
	h3{
		color: $base-color;
		margin-bottom: 60px;
		letter-spacing: 0.2rem;
	}
	p{
		@media screen and (max-width: 600px){
			text-align: left;
		}
	}
}







/*------ service ------*/



.u_service{
	padding-bottom: 100px !important;
}

.u_service_con{
	padding: 80px 0 0 0;
	.u_s_tit{
		width: 100%;
		border-bottom: 1px solid $accent-color;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding-bottom: 10px;
		margin-bottom: 60px;
		h3{
			font-size: 7.5rem;
			color: $accent-color;
			line-height: 1;
			@media screen and (max-width: 960px){
				font-size: 6.5rem;
				width: 80%;
			}
		}
		p{
			color: $base-color;
			font-weight: 600;
			letter-spacing: 0.1rem;
		}
	}
	@media screen and (max-width: 740px){
		padding: 40px 0 0 0;
		margin-bottom: 40px;
		.u_s_tit{
			margin-bottom: 30px;
			align-items: flex-end;
			h3{
				font-size: 5rem;
				width: 70%;
			}
			p{
				font-size: 2rem;
			}
		}
	}
	@media screen and (max-width: 480px){
		margin-bottom: 60px;
		.u_s_tit{
			margin-bottom: 30px;
			padding-bottom: 5px;
			h3{
				font-size: 3.6rem;
			}
			p{
				font-size: 1.6rem;
			}
		}
	}
	.u_s_txt1{
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		margin-bottom: 60px;
		@media screen and (max-width: 960px){
			margin-bottom: 40px;
		}
		@media screen and (max-width: 740px){
			margin-bottom: 20px;
		}
		.us_txt1_l{
			width: 50%;
			margin-right: 5%;
			p{
				margin-bottom: 60px;
			}
			.shopify{
				width: 140px;
				position: relative;
				z-index: 2;
			}
		}
		.us_txt1_r{
			width: 45%;
		}
		@media screen and (max-width: 740px){
			.us_txt1_l{
				width: 60%;
				margin-right: 5%;
				p{
					font-size: 1.4rem;
					margin-bottom: 20px;
				}
				.shopify{
					width: 100px;
				}
			}
			.us_txt1_r{
				width: 35%;
			}
		}
		@media screen and (max-width: 480px){
			display: block;
			.us_txt1_l{
				width: 100%;
				margin-right: 0;
			}
			.us_txt1_r{
				width: 100%;
				margin-bottom: 30px;
			}
		}
	}
	.u_s_txt2{
		width: 100%;
		display: flex;
		justify-content: space-between;
		.us_txt2_l{
			width: 50%;
			margin-right: 5%;
			padding: 0 3%;
			position: relative;
			top: -100px;
			@media screen and (max-width: 960px){
				top: -60px;
			}
			img{
				opacity: 0.4;
			}
		}
		.us_txt2_r{
			width: 45%;
			h4{
				color: $base-color;
				margin-bottom: 15px;
			}
			p{
				margin-bottom: 40px;
			}
		}
		@media screen and (max-width: 740px){
			.us_txt2_l{
				width: 40%;
				margin-right: 0%;
				padding: 0 0%;
				top: 0px;
			}
			.us_txt2_r{
				width: 57%;
				p{
					font-size: 1.4rem;
					margin-bottom: 30px;
				}
			}
		}
		@media screen and (max-width: 480px){
			display: block;
			.us_txt2_l{
				width: 90%;
				max-width: 300px;
				margin: 0 auto 15px auto;;
			}
			.us_txt2_r{
				width: 100%;
				p{
					margin-bottom: 30px;
				}
			}
		}
	}
}



















