	<footer>
		<div class="f_logo">
			<img src="resource/images/logo.svg">
		</div>
		<div class="f_menu">
			<div class="f_menu_con">
				<a href="/" class="first en">Top</a>
			</div>
			<div class="f_menu_con">
				<a href="about.html" class="first en">About us</a>
			</div>
			<div class="f_menu_con">
				<a href="service.html" class="first en">Service</a>
			</div>
			<div class="f_menu_con">
				<a href="about.html#company" class="first en">Company</a>
			</div>
<!--
			<div class="f_menu_con">
				<a href="#" class="first en">Recruit</a>
			</div>
-->
			<div class="f_menu_con">
				<a href="contact.html" class="first en">Contact</a>
			</div>
		</div>
		<div id="page-top">
			<a href="#wrap">
				<img src="resource/images/totop.svg">
			</a>
		</div>
	</footer>
	<div class="credit">
		<p class="en">Copyright 2020, TheNewGate All Right Reserved.</p>
	</div>

