	<section class="head">
		<div class="logo">
			<a href="/">
				<img src="resource/images/logo.svg">
			</a>
		</div>
	</section>
	
	
	<div id="nav-toggle">
		<div>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	
	<div id="gloval-nav">
		<nav>
			<ul>
				<li><a class="link" href="/">Top</a></li>
				<li><a class="link" href="about.html">About us</a></li>
				<li><a class="link" href="service.html">Service</a></li>
				<li><a class="link" href="about.html#company">Company</a></li>
				<li><a class="link" href="contact.html">Contact</a></li>
			</ul>
		</nav>
	</div>