
	<!-- favicon -->
	<link rel="icon" href="resource/image/favicon.ico">

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://unpkg.com/scrollreveal"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="resource/css/reset.css">
	<link rel="stylesheet" href="resource/css/responsible.css">
	<link rel="stylesheet" href="resource/css/style.css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap" rel="stylesheet">

	<!-- ToTop -->
	<script>
		$(function() {
				var showFlag = false;
				var topBtn = $('#page-top');
				topBtn.css('bottom', '-100px');
				var showFlag = false;
				//スクロールが100に達したらボタン表示
				$(window).scroll(function () {
						if ($(this).scrollTop() > 100) {
								if (showFlag == false) {
										showFlag = true;
										topBtn.stop().animate({'bottom' : '20px'}, 200);
								}
						} else {
								if (showFlag) {
										showFlag = false;
										topBtn.stop().animate({'bottom' : '-100px'}, 200);
								}
						}
				});
				//スクロールしてトップ
				topBtn.click(function () {
						$('body,html').animate({
								scrollTop: 0
						}, 500);
						return false;
				});
		});
	</script>



	<!-- sp_menu -->
	<script>
		(function($) {
				$(function () {
					$('#nav-toggle').on('click', function() {
						$('html').toggleClass('open');
					});
				});
		})(jQuery);
	</script>



	<script>
		$(function() {
		  var getWindowMovieHeight = function() {
		    var windowSizeHeight = $(window).outerHeight();
		    var windowSizeWidth = $(window).outerWidth();
		    var windowMovieSizeWidth = windowSizeHeight * 1.76388889;
		    var windowMovieSizeHeight = windowSizeWidth / 1.76388889;
		    var windowMovieSizeWidthLeftMargin = (windowMovieSizeWidth - windowSizeWidth) / 2;
		    if (windowMovieSizeHeight < windowSizeHeight) {
		      $("#video").css({left: -windowMovieSizeWidthLeftMargin});
		    }
		  };
		
		  $(window).on('load', function(){
		    getWindowMovieHeight();
		  });
		
		  $(window).on('resize', function(){
		    getWindowMovieHeight();
		  });
		});
	</script>